<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''ROLE_USER'')')}">

<form id="userForm" th:object="${evaluacionForm}" th:action="${editMode} ?@{/editUser} :@{/evaluacionForm}" method="post" class="form" role="form" >

<!--Es necesario para poder pasar la validacion del Model en el caso de la edicion-->
	<input class="form-control" type=hidden name="password" value="xxxx" th:if="${editMode}">
	<input class="form-control" type=hidden name="confirmPassword" value="xxxx" th:if="${editMode}">
	<input class="form-control" type="hidden" th:field="${evaluacionForm.id}">
	
	<div class="form-group row">
	
		<label class="col-lg-3 col-form-label form-control-label">Secuencia</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${evaluacionForm.secuencia}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('secuencia')}" th:errors="*{secuencia}">Name Error</div>
		</div>
		
	</div>
	<div class="form-group row">
		<label th:text="Evaluador" class="col-lg-3 col-form-label form-control-label"></label>
		
		<div class="col-lg-9">
			<select class="form-control" th:field="${evaluacionForm.evaluador}" th:disabled="${disableFields}"> 	
				<option th:each="user :${listaUsuarios}" th:value="${user.username}" th:text="${user.username}">
				</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('evaluador')}" th:errors="*{evaluador}">Evluador Error</div>
		</div>
		
	</div>
	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Supervidor</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${evaluacionForm.supervisor_id}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('supervisor_id')}" th:errors="*{supervisor_id}">Supervisor Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nota Final</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${evaluacionForm.nota_final}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('nota_final')}" th:errors="*{nota_final}">nota Error</div>
			
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Estado</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${evaluacionForm.estado_id}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('estado_id')}" th:errors="*{estado_id}">Estado Error</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<input type="reset" class="btn btn-secondary" value="Cancel" th:if="${editMode==null or editMode==false}">
			<a class="btn btn-secondary"  th:href="@{'/evaluaciontUser/cancel'}" th:if="${editMode}">Cancel</a>
			<!--<button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}" data-target="#changePasswordModal">Change Password</button>-->
			<input type="submit" class="btn btn-primary"
				value="Save Changes" th:value="${editMode}?'Grabar':'Crear'">
		</div>
	</div>
	<div class="alert-primary" role="alert" th:if="${formMessageError}" th:text="${formMessageError}">Name Error</div>
	<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Success MEssage</div>
</form>
</div>

