<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''ROLE_USER'')')}">

<form id="userForm" th:object="${evaluacionForm}" th:action="${editMode} ?@{/editEvaluacion} :@{/evaluacionForm}" method="post" class="form" role="form" >

<!--Es necesario para poder pasar la validacion del Model en el caso de la edicion-->
	<input class="form-control" type=hidden name="password" value="xxxx" th:if="${editMode}">
	<input class="form-control" type=hidden name="confirmPassword" value="xxxx" th:if="${editMode}">
	<input class="form-control" type="hidden" th:field="${evaluacionForm.id}">
	
	<div class="form-group row">
		<label th:text="Secuencia" class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select class="form-control" th:field="${evaluacionForm.secuencia}" th:disabled="${disableFields}"> 	
				<option value="1">Secuancia 1</option> 	
				<option value="2">Secuancia 2</option>
				<option value="3">Secuancia 3</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('secuencia')}" th:errors="*{secuencia}">Secuencia Error</div>
		</div>
		
	</div>
	<div class="form-group row">
		<label th:text="Evaluador" class="col-lg-3 col-form-label form-control-label"></label>
		
		<div class="col-lg-9">
			<select class="form-control" th:field="${evaluacionForm.evaluador}" th:disabled="${disableFields}"> 	
				<option th:each="user :${listaUsuarios}" th:value="${user.username}" th:text="${user.username}">
				</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('evaluador')}" th:errors="*{evaluador}">Evluador Error</div>
		</div>
		
	</div>
	
	<div class="form-group row">
		<label th:text="Evaluado" class="col-lg-3 col-form-label form-control-label"></label>
		
		<div class="col-lg-9">
			<select class="form-control" th:field="${evaluacionForm.evaluado}" th:disabled="${disableFields}"> 	
				<option th:each="user :${listaUsuarios}" th:value="${user.username}" th:text="${user.username}">
				</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('evaluado')}" th:errors="*{evaluado}">Evluador Error</div>
		</div>
		
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Observaciones</label>
		<div class="col-lg-9">
			<textarea class="form-control" aria-label="With textarea" th:field="${evaluacionForm.observaciones}" th:disabled="${disableFields}"  placeholder="Ingrese las observaciones de la evaluación"></textarea>
			<div class="alert-danger" th:if="${#fields.hasErrors('observaciones')}" th:errors="*{observaciones}">Observaciones Error</div>
			
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nota Final</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${evaluacionForm.nota_final}" th:disabled="${disableFields}"  placeholder="De 1 a 100">
			<div class="alert-danger" th:if="${#fields.hasErrors('nota_final')}" th:errors="*{nota_final}">nota Error</div>
			
		</div>
	</div>
	<div class="form-group row">
		<label th:text="Estado" class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select class="form-control" th:field="${evaluacionForm.estado_id}" th:disabled="${disableFields}"> 	
				<option th:each="estado :${listaEstados}" th:value="${estado.id}" th:text="${estado.descripcion}">
				</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('estado_id')}" th:errors="*{estado_id}">Estado Error</div>
		</div>
		
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary"  th:href="@{'/editEvaluacion/cancel'}" >Salir</a>
			<input type="submit" class="btn btn-primary"
				value="Save Changes" th:value="${editMode}?'Grabar':'Crear'" th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EVALUADOR'',''ROLE_SUPERVISOR'')')}">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal" th:if="${editMode} and ${#authorization.expression('hasRole(''ROLE_USER'')')}">Recurrir</button>
			</div>
	</div>
	<div class="alert-primary" role="alert" th:if="${formMessageError}" th:text="${formMessageError}">Name Error</div>
	<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Success MEssage</div>
</form>
</div>

