<div class="table-responsive">
	<table id="evaluacionList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Secuencia</th>
			<th scope="col">Evaluador</th>
			<th scope="col">Supervisor</th>
			<th scope="col">Nota</th>
			<th scope="col">Estado</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="evaluacion: ${evaluacionList}">
			<td th:text="${evaluacion.id}"></td>
			<td th:text="${evaluacion.secuencia}"></td>
			<td th:text="${evaluacion.evaluador_id}"></td>
			<td th:text="${evaluacion.supervisor_id}"></td>
			<td th:text="${evaluacion.nota_final}"></td>
			<td th:text="${evaluacion.estado_id}"></td>
			<td>
					<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_USER'')')} and ${#httpServletRequest.remoteUser==user.username})">
						<a href="#" th:href="@{'/editEvaluacion/'+ ${evaluacion.id}}"><i class="fas fa-edit"></i></a>
					</span>
					<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
						<a href="#" th:onclick="'javascript:confirmDelete(\''+ ${evaluacion.id} +'\');'"><i class="fas fa-user-times"></i></a>
					</span>
			</td>
		</tr>
		</tbody>
	</table>
	<div id="deleteError" th:if="${deleteError}" class="alert alert-danger text-center" role="alert">
	<span th:text="${deleteError}"></span>
</div>
</div>
<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteUser/"+id;
}
</script>