<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''ROLE_USER'')')}">

<form id="userForm" th:object="${userForm}" th:action="${editMode} ?@{/editUser} :@{/userForm}" method="post" class="form" role="form" >

<!--Es necesario para poder pasar la validacion del Model en el caso de la edicion-->
	<input class="form-control form-control-sm" type=hidden name="password" value="xxxx" th:if="${editMode}">
	<input class="form-control form-control-sm" type=hidden name="confirmPassword" value="xxxx" th:if="${editMode}">
	<input class="form-control form-control-sm" type="hidden" th:field="${userForm.id}">
	
	<div class="form-group row">
		<label th:text="Areas" class="col-sm-3 col-form-label form-control-label-sm"></label>
		
		<div class="col-lg-9">
			<select class="form-control form-control-sm" th:field="${userForm.areas}" th:disabled="${disableFields}"> 	
				<option th:each="area :${areas}" th:value="${area.id}" th:text="${area.description}">
				</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('areas')}" th:errors="*{areas}">Areas Error</div>
		</div>
		
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label form-control-label-sm">First name</label>
		<div class="col-lg-9">
			<input class="form-control form-control-sm" type="text" th:field="${userForm.firstName}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label form-control-label-sm">Last
			name</label>
		<div class="col-lg-9">
			<input class="form-control form-control-sm" type="text" th:field="${userForm.lastName}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label form-control-label-sm">Email</label>
		<div class="col-lg-9">
			<input class="form-control form-control-sm" type="email" th:field="${userForm.email}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
			
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label form-control-label-sm">Username</label>
		<div class="col-lg-9">
			<input class="form-control form-control-sm" type="text" th:field="${userForm.username}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label th:text="Roles" class="col-sm-3 col-form-label form-control-label-sm"></label>
		<div class="col-lg-9">
			<select class="form-control form-control-sm" size="3" th:field="${userForm.roles}" th:disabled="${disableFields}"> 	
				<option th:each="role :${roles}" th:value="${role.id}" th:text="${role.name}">
				</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Name Error</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-sm-3 col-form-label form-control-label-sm">Password</label>
		<div class="col-lg-9">
			<input class="form-control form-control-sm" type="password" th:field="${userForm.password}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-sm-3 col-form-label form-control-label-sm">Confirm</label>
		<div class="col-lg-9">
			<input class="form-control form-control-sm" type="password" th:field="${userForm.confirmPassword}" th:disabled="${disableFields}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-primary"  th:href="@{'/editUser/cancel'}" >Salir</a>
			<button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}" data-target="#changePasswordModal">Change Password</button>
			<input type="submit" class="btn btn-primary"
				value="Save Changes" th:value="${editMode}?'Grabar':'Crear'" th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EVALUADOR'',''ROLE_SUPERVISOR'')')}">
		</div>
	</div>
	<div class="alert-primary" role="alert" th:if="${formMessageError}" th:text="${formMessageError}">Name Error</div>
	<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Success MEssage</div>
</form>
</div>

